<header>
    <div id="logo">
        <a routerLink="/" class="logo">
            <img src="/assets/logo2.png" alt="Logo">
        </a>
    </div>
    <nav id="navbar" [ngClass]="burgerOpened ? 'active' : ''">
        <ul>
            <li>
                <a [ngClass]="routerLink === '/home' ? 'line' : ''" routerLink="/">Inicio</a>
            </li>

            <li>
                <a [ngClass]="routerLink === '/about' ? 'line' : ''" routerLink="/about">Sobre mim</a>
            </li>

            <li>
                <a [ngClass]="routerLink === '/projects' ? 'line' : ''" routerLink="/projects">Projetos</a>
            </li>
        </ul>
    </nav>

    <button id="menuburger" (click)="this.openMenuBurger()" aria-label="Menu para outras telas.">
        <i class="fa-solid fa-bars"></i>
    </button>

    <div id="buttons">
        <a target="_blank" href="https://api.whatsapp.com/send?phone=5527992932191&text=Ol%C3%A1!%20vim%20do%20site%20Duck%20Developer">Contato</a>
    </div>
</header>