.container {
    font-size: 2rem;
    margin: 0 auto;
    color: white;

    width: 90%;
    height: 100%;
    max-width: 1000px;
    min-height: calc(100vh - 121px - 72px - 50px);

    display: flex;
    flex-direction: column;
    justify-content: center;

    text-align: justify;

    p {
        font-size: 1.3rem;
        text-align: justify;
    }

    .tech {
        color: #9030ce;
    }
}