<div class="container">
    <h1>About me</h1>

    <p>
        Hi! my name is Rodrigo, better known as Duck, I got interested in programming in 2016, 
        where I started my studies in <span class="tech">Java</span> & <span class="tech">SQL</span> and started working as a freelancer the following year.
        I own 5 years of experience in the area of <span class="tech">Java</span> and <span class="tech">Java</span> and about 1 year in front-end using <span class="tech">Angular</span>,
        <span class="tech">TypeScript</span> e <span class="tech">SCSS</span> technologies.
    </p>
</div>