<div class="container">
    <h1>Sobre mim</h1>

    <p>
        Olá! meu nome é Rodrigo, mais conhecido como Duck, me interessei pela programação em 2016, 
        onde iniciei meus estudos em <span class="tech">Java</span> & <span class="tech">SQL</span> e comecei a fazer freelances no ano seguinte.
        Possuo 5 anos de experiência na área de <span class="tech">Java</span> e cerca de 1 ano em front-end utilizando as Tecnologias <span class="tech">Angular</span>,
        <span class="tech">TypeScript</span> e <span class="tech">SCSS</span>.
    </p>
</div>