<footer>
    <section id="sociais">
        <ul>
            <li>
                <a href="https://www.linkedin.com/in/rodrigocarvalhodev" target="_blank"><span class="fa-brands fa-linkedin"></span></a>
            </li>
            <li>
                <a href="https://www.github.com/rodrigocarvalhodev" target="_blank"><span class="fa-brands fa-github"></span></a>
            </li>
            <li>
                <a href="https://instagram.com/thedeveloperduck" target="_blank"><span class="fa-brands fa-instagram"></span></a>
            </li>
        </ul>
    </section>
    
    <div id="copyright">
        <p>Criado por <a class="purple" routerLink="/">Rodrigo Carvalho</a> &copy;</p>
    </div>
</footer>