* {
    color: #FFF;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;

    width: 100%;
    padding: 25px 35px;

    text-align: center;

    font-size: 1.1rem;

    #sociais {
        display: none;

        ul {
            display: flex;
            gap: 20px;

            li {
                list-style-type: none;

                a > span {
                    font-size: 1.5rem;
                    padding: 15px;
                    border: 1px solid #fff;
                    border-radius: 50%;
                }
            }
        }
    }

    #copyright {
        p > a {
            cursor: pointer;
            font-weight: 400;
            color: #9030ce;
            text-decoration: none;
        }
    }
}

@media(max-width: 850px) {
    footer {
        #sociais {
            display: flex;
        }
    }
}

// mobile mini
@media(max-width: 350px) {
    footer {

        #sociais {
            ul {
                gap: 15px;
                li > a > span {
                    font-size: 1.20rem;
                }
            }
        }

        font-size: 0.8rem;
    }
}