<div id="container">
    <div class="presentation">
        <p class="hi">Olá, meu nome é</p>
        <h1>Rodrigo Carvalho</h1>
        <h2>E sou um Desenvolvedor FullStack</h2>
        <p class="description">
            Sou um programador focado em desenvolvimento FullStack,
            desenvolvo soluções em front-end em Angular, TypeScript e SCSS e soluções em back-end em Java e Spring Boot
        </p>

        <div class="downloadcv">
            <a target="_self" href="/assets/curriculo_rodrigo.pdf" download="curriculo.pdf">
                <button title="Baixar currículo">Baixar currículo</button>
            </a>
        </div>
    </div>
</div>