<div id="container">
    <div class="presentation">
        <p class="hi">Hi, I'm</p>
        <h1>Rodrigo Carvalho</h1>
        <h2>and I'm a full stack developer</h2>
        <p class="description">
            Programmer focusing in full stack development,
            I develop solutions in front-end using Angular, TypeScript and SCSS. I too develop solutions in back-end using Java e Spring Boot
        </p>

        <div class="downloadcv">
            <a target="_self" href="/assets/curriculo_rodrigo.pdf" download="curriculo.pdf">
                <button title="Baixar currículo">Download resume</button>
            </a>
        </div>
    </div>
</div>